# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
build/
out/
*.tsbuildinfo

# turbo cache
.turbo/

# million lint cache
.million/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.claude/
.omc/

# tests
coverage/
*.lcov
